*.class

*.log

*.ctxt

.mtj.tmp/

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.deb

hs_err_pid*

.DS_Store

.classpath
.project
.settings
.vscode

.idea
*.iml
*.ipr
*.iws

.gradle
!gradle/wrapper/gradle-wrapper.jar
.m2

build
target
generated

*.env
**/Config.toml
examples/**/Dependencies.toml
